/*CSS DOCUMENT*/
body{
    background-color: rgb(254, 267, 240);
    font-family: sans-serif;
}

h1{
    margin: .25em .25em 0em .25em;
    font-size: 6em;
    color: rgb(0, 76, 153);
    font-weight: lighter;
    text-transform: lowercase;
    
}
h2{
    text-transform: lowercase;
    color: rgb(153, 204, 255);
    margin: 0em .25em .25em .75em;
    font-size: 2.5em;
    font-weight: lighter;
}
h3{
    text-transform: uppercase;
    margin: 1.25em .25em .25em 1.5em;
    font-size: 1.25em;
    font-weight: lighter;
}
h4{
    font-family: sans-serif;
    margin: 0em .25em 0em 0em;
    color: rgb(205, 88, 88);
    font-weight: normal;
    font-size: 1.15em;
    text-transform: lowercase;
    
}
li{
    list-style: none;
    margin: 1.5em .5em 1em 3em;
    font-family: sans-serif;
    font-weight: lighter;
}

ul{
    padding: 0;
}
